*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}
.gallery{
    display: flex;
    /* flex-wrap: wrap; - 줄바꿈 허용- 허용되있어야  calc(100%/2)를 사용할 수 있다.  /flex-wrap: nowrap; - 줄바꿈 허용하지 않음 */
    flex-wrap: wrap;
    /*  %는 부모를 기준으로 계산한다. vw는 viewport witdh - 화면, 브라우저 사이즈 만큼 차지할 수 있다. vh - viewport height */
    width: 100vw;
    height: 100vh;
    /* 각 행이 아니라 전체이서 교차축으로 중앙 정렬할 때 사용 */
    align-content: center;
    
}

.gallery > .img-wrapper{
    /* width: calc(100%/3) - 는 3(등분) 할 때 사용 /  */
    width: calc(100%/3);
    padding: 10px;
    /* 이미지 비율 정할 때 사용 */
    
    /* 자식의 폭을 제한 한다. */
    /* flex-basis: calc(100%/3); */

    /* 성장 허용 (빈공간이 없게 만든다.) -1 / 성장허용 하지 않음 -0 (빈공간이 있어도 성장하지 않는다. )*/
    flex-grow: 0;

    /* 성장 줄어들게 함 허용 1 / 줄어들게 함 허용하지 않음 0 */
    flex-shrink: 1;

    
    
}
img{
    width: 100%;
    max-width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}