*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.svg-icon{
    width: 100px;
    height: 100px;
    fill: #03C75A;
    fill-opacity: 0.5;
    stroke: dodgerblue;
    stroke-width: 0.2px;
}