*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    max-width: 100%;
    height: 100vh;
    object-fit: cover;
}

.container{
    width: 100%;
    max-width: 100%;
    height: 100vh;
}

.page{
    height: 100vh;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
}

.page:nth-child(2n){
    background-color: gray;
    flex-direction: row-reverse;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1rem;
    flex-basis: 50%;
}

figure{
    flex-basis: 50%;
    width: 100%;
    height: 100%;
}