.container {
  display: flex;
  /* flex-direction: column; */
  margin: 80px auto;
  width: 865px;
  gap: 40px;
  /* flex-shrink: 0; */
}

.header-container {
  /* position: fixed; */
  top: 0;
}

.add-item {
  display: block;
  text-decoration: none;
  color: #464e5e;
  border: 2px dashed #dee3ec;
  padding: 24px 48px;
}
.add-item:hover {
  background-color: #f4f7fb;
}
.header {
  padding: 80px 40px;
  background-color: #f5f7fb;
  color: #464e5e;
  text-align: right;
  border-radius: 80px;
  /* 일반적인 흐름을 타다가 정해진 위치에 도달했을 때 그 위치에 고정 */
  position: sticky;
  top: 80px;
  /* right: 300px; */
}
.filter {
  background-color: #fff;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  padding: 8px 24px;
  gap: 24px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.07);
}
.header > h1 {
  font-weight: 400;
  font-size: 40px;
  margin-top: 0;
}
.header > h1 > .accent {
  font-weight: 800;
}

.content {
  /*넓이를 늘려줌 */
  flex-grow: 1;
}

.items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  display: flex;
  padding: 16px 48px;
  color: #bfc8da;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
}
.item:hover {
  background-color: #f4f7fb;
}

.item-id {
  width: 58px;
  margin-right: 40px;
  flex-shrink: 0;
}

.item-mbti {
  width: 76px;
  background-color: #f0f2f5;
  color: #464e5e;
  font-weight: 600;
  border-radius: 8px;
  padding: 8px;
  text-align: center;
  margin-right: 24px;
  /* 자기자신은 줄어들지 않게하기 */
  flex-shrink: 0;
}

.item-arrow {
  max-width: 100%;
  width: 100%;
  height: 0px;
  border-bottom: 2px dashed #bfc8da;
  position: relative;
}

.item-arrow-icon {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 8px;
}

.item-color-chip {
  margin: 0 16px;
  width: 40px;
  height: 40px;
  border: 3px solid #e8e8e8;
  border-radius: 8px;
  flex-shrink: 0;
}

.item-color-code {
  flex-shrink: 0;
  width: 105px;
}

.remove-icon {
  width: 12px;
  height: 12px;
}

@media screen and (max-width: 944px) {
  .container {
    width: 100%;
    flex-direction: column;
    margin: 0;
    padding: 24px 16px;
    gap: 24px;
  }
  /* /* .header-container {
    position: sticky;
    top: 24px;
    z-index: 1;
  } */
  .header {
    padding: 32px;
    text-align: center;
    border-radius: 40px;
  }
  */
  /* .header {
    position: fixed;
    top: 24px;

    left: 0;

    right: 0;
    /* z-index: 999;
    padding: 32px;
    text-align: center;
    border-radius: 40px;
    background-color: #f5f7fb; */
  */
  /* } */
  .header > h1 {
    font-size: 24px;
  }

  .filter {
    padding: 4px 8px;
    gap: 8px;
  }

  .add-item {
    padding: 20px 24px;
  }
  .item {
    padding: 18px 16px;
  }

  .item-id {
    width: 37px;
    margin-right: 16px;
  }

  .item-mbti {
    width: 54px;
    margin-right: 16px;
  }

  .item-color-code {
    width: 72px;
  }
  .item-color-chip {
    margin-right: 8px;
  }
}
