@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@font-face {
    font-family: 'GoryeongStrawberry';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/GoryeongStrawberry.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PyeongChangPeace-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

.title{
    font-family: 'Gochi Hand', cursive;
    font-size: 40px;
    font-weight: 500;
    /* text-decoration:line-through; */
    /* 글자와 글자 사이가 멀어지게 하는 속성  (음수값하고 소수점 값도 들어간다.)*/
    letter-spacing: 1rem;
    /* 글자의 횡단을 줄때 */
    line-height: 150%;
    white-space: nowrap;
}

.gia{
    font-family: 'GoryeongStrawberry';
    font-size: 40px;
    font-weight: 100;
}

h1{
    font-family: 'PyeongChangPeace-Bold';
    font-size: 40px;
    font-weight: 500;

}