*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 1rem;
}

.input-wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    border: 1px solid blue;
    position: relative;
}

.input-wrapper input{
    padding: 1rem;
    border: 0;
    
}

.input-wrapper label{
    position: absolute;
    top: -14px;
    left: 16px;
    background-color: white;
    padding: 4px 8px;
}

.input-wrapper input:focus{
    outline: none;
    box-shadow: 0 0 0 3px dodgerblue;
}

button[type="submit"]{
    padding: 1rem 2rem;
    width: 100%;
    border-radius: 0.5rem;
    border: 0;
    background-color: dodgerblue;
    color: white;
}

button:active{
    box-shadow: 0 0 0 3px pink;
    background-color: black;
}