.swiper {
    width: 100%;
    height: 300px;
}

.swiper-slide.fir{
    background-color: aqua;
    background-image: url(https://swiperjs.com/demos/images/nature-5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.swiper-slide.se{
    color: white;
    background-color: yellow;
    background-image: url(https://images.pexels.com/photos/612341/pexels-photo-612341.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    
}

.swiper-slide.th{
    background-color: dodgerblue;
}

.swiper-pagination-bullet{
    background-color: white;
    border: 1px solid black;
}
.swiper-pagination-bullet-active{
    background-color: black;
    width: 50px;
    border-radius: 4px;
    transition: all 200ms ease;
}
.swiper-button-prev,
.swiper-button-next{
    color: red;
}