* {
  /* margin: 0; */
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#wrapper {
  width: 100%;
  height: 100%;
}
/* wrapper */
#wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr 6fr 1fr;
  gap: 1%;
  /* padding: 1rem; */
}
#wrapper > div:not(#content div) {
  border-radius: 50px;
}

/* header1 */
#header1 {
  background-color: #ffd65c;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header1 > div {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header1 > div > span {
  font-size: 2.5em;
  font-weight: 900;
  color: #551a8b;
}
/* header2 */
#header2 {
  background-color: #d1b3e0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20px;
  letter-spacing: 0.5em;
}

a {
  color: white;
  text-decoration: none;
}

/* content */
#content {
  /* background-color: aqua; */
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  gap: 0.7%;
}
#main {
  background-color: #fafafa;
  display: grid;
  grid-template-columns: repeat(
    3,
    minmax(120px /*최소*/, auto)
  ); /* repeat(반복횟수, 1fr)*/
  gap: 1%;
  padding: 2%;
  border-radius: 50px 50px 0 0;
}
.aside {
  background-color: #faebeb;
  border-radius: 50px 50px 0 0;
  padding: 15% 8%;
}
#category {
  background-color: #e6b3b3;
  list-style: none;
}

#category > li {
  padding: 10%;
  font-weight: 600;
  font-size: 1.2em;
  border-bottom: 1px solid #d1a3a3;
}
#category > li:nth-child(1) {
  border-top: 1px solid #d1a3a3;
}
.item {
  display: grid;
  grid-template-rows: 5fr 4fr 1fr;
  border: 1px solid #e1e1e1;
  padding: 5%;
  gap: 2%;
}
.item > div {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* footer */
#footer {
  background-color: #ccccf2;
}

@media (max-width: 1000px) {
  #content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.7%;
  }
  .aside {
    display: none;
  }
}
@media (max-width: 571px) {
  #content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.7%;
  }
  .aside {
    display: none;
  }
}
