* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
}
.bigBox1 {
  width: 100%;
  text-align: center;
  color: blue;
  font-size: 2rem;
  font-weight: 700;
}

.bigBox2 {
  width: 100%;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 1rem;
}

.bigBox2 .b1 img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.bigBox3 {
  width: 100%;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  place-items: center;
  padding: 1rem;
}
.smallBox {
  width: 100%;
}
.bigBox3 > .smallBox > div > img {
  width: 100%;
  object-fit: cover;
}
