*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    /* justify-content: space-between; */
    /* flex-wrap: wrap; */
    background-color: rgb(158, 187, 192);
    height: 100vh;
    /* align-items: flex-start; */
    /* flex 주축의 방향은 기본적으로 row값을 가지고 있다.  */
    flex-direction: row;
    /* flex-direction: row-reverse; 는 1~6을 -> 6 ~ 1로 진행방향을 역순으로 변경한다.  */
    flex-direction: row-reverse;

    /* 주측의 진행방향을 교차축 방향으로 바꾼다. (가로로 진행하던걸, 세로로 진행된다. )
    주축의 진행방향이 바뀌었으니 중앙 정렬을 하려면 align-items를 사용해야 한다.  */
    flex-direction: column-reverse;

    align-items: center;

    
}

.box{
    flex-basis: calc(100% / 3);
    flex-grow: 1;
    border: 1px solid black;
    color: white;
    background-color: rgb(248, 233, 92);
    
}

.box:nth-child(2){
    background-color: rgb(9, 243, 67);
}
.box:nth-child(3){
    background-color: rgb(172, 20, 233);
}
.box:nth-child(4){
    background-color: rgb(245, 116, 42);
}
.box:nth-child(5){
    background-color: rgb(191, 191, 241);
}
.box:nth-child(6){
    background-color: rgb(105, 39, 70);
}

